<main>
    <div class="position-relative">
        <img
          src="assets/images/my_ai.png"
          class="bg-img"
          alt="Background"
        />
        <div class="container py-5 text-white">
          <h1 class="text-center">Welcome to your AI Friend!</h1>
          <p class="text-center">Choose your favourite character and solve your problems in their way</p>
          <div class=" text-center p-4">
            <img
              src="assets/images/my_ai.png"
              class="rounded-circle mx-auto d-block"
              alt="My Image"
              width="150"
              height="150"
            />
            <div class="card-body">
              <h5 class="card-title">Navneet </h5>
            </div>
          </div>


          <!-- this is the content for the cards -->
        <div class="container mt-5">
            <h2 class="text-center mb-4">Select a your character</h2>
            <div class="row">
              <div
                class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
                *ngFor="let card of cards"
              >
              <div class="card" style="width: 18rem; height: 28rem;">
                <img [src]="card.image" class="card-img-top character-img" alt="{{card.title}}" />
                <div class="card-body">
                  <h5 class="card-title">{{card.title}}</h5>
                  <p class="card-text">{{card.about}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- here will be the header for the project -->
   
     
</main>